h1,
h5 {
  text-align: center;
}
h1 {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.24);
}
a {
  text-decoration: none;
}
div.current-weather {
  display: block;
  margin: 30px auto;
  margin-bottom: 80px;
  border-radius: 50%;
  padding: 15px;
  border-color: rgba(164, 115, 206, 0.7);
  border-width: 3px;
  box-shadow: 5px 2px 33px 1px;
}
div.weekly-forcast .card {
  border-radius: 80px 80px;
  border-color: rgba(164, 115, 206, 0.7);
  border-width: 3px;
  box-shadow: 5px 2px 33px 1px;
}

div.weekly-forcast {
  margin-bottom: 60px;
}

div.current-weather .card-body {
  padding-top: 0px;
}
.weather-app-wrapper {
  max-width: 1100px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid rgba(77, 76, 78, 0.7);
  border-radius: 20px;
}
.search-bar {
  text-align: right;
  margin-top: 18px;
}
.search-input {
  border-radius: 5px;
  border-width: 1px;
  padding: 2.5px;
}
.gps-emoji {
  font-size: 24px;
}
.city {
  margin-bottom: 0px;
}
.update {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.date {
  font-size: 20px;
}
.current-temp {
  font-size: 45px;
  line-height: 20px;
}
.degree-units {
  font-size: medium;
  position: relative;
  top: -20px;
}
.current-weather .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.current-weather .active:hover {
  text-decoration: none;
}
.description {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.current-low {
  font-size: 20px;
}
.coded-by {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.search-input:focus {
  outline-color: blueviolet;
}
.code-link {
  text-decoration: none;
  color: rgba(164, 115, 206, 0.7);
}
.code-link:hover {
  text-decoration: none;
  color: rgba(164, 115, 206);
}
